body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    color: #8c8c8c;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f1f1f1;
    font-family: "PT Sans", sans-serif;
}

a{
    text-decoration: none;
}

h2{
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.visually-hidden{
    line-height: 74px;
    font-size: 74px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
}
/*------------------------------NAVIGATION------------------------------*/
.main-navigation{
    background-color: #ffffff;
    line-height: 26px;
    color: #000000;
}

.site-navigation{
    text-decoration: none;
    list-style: none;
}

.site-navigation a{
    text-decoration: none;
    color: #000000;
}

.site-navigation a:hover{
    color: #81b3d2;
}

.site-navigation a:focus{
    color: #e7e7e7;
}

.site-navigation a:active{
    color: #766357;
}


/*----------------------------------FEATURES---------------------------------------*/

.features-list{
    list-style: none;
}

.features-item{
    text-align: center;
}

.features-item p{
    font-weight: normal;
    color: #333333;
}

.features-item a{
    font-weight: bold;
    color: #000000;
}

.features-item-blue li{
    background-color: #81b3d2;
}

.features-item-grey li{
    background-color: #eeeeee;
}

button{
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background-color: #81b3d2;
}

input{
    outline: none;
}

/*----------------------------------------Hotels  MAP-----------------------------------------*/
.appointment-button a{
    display: block;
    text-align: center;
    padding: 30px 0;
    width: 570px;
    color: #ffffff;
    background-color: #766357;
    border: 0;
}

.appointment{
    width: 570px;
    min-height: 395px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appointment-form input{
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.appointment-form input:hover{
    background-color: #ebebeb;
}

.appointment-form input:active{
    background-color: #ebebeb;
}

.appointment-form input:focus{
    background-color: #ffffff;
}

/*----------------------------------------FOOTER-------------------------------------------------*/

.main-footer{
    background-color: #ffffff;
    opacity: 0.9;
    min-height: 120px;
}

.footer-social{
    text-align: center;
}

.footer-social ul{
    list-style: none;
}

.footer-social a{
    color: #000000;
}

.footer-copyright{
    text-align: center;
}

.footer-copyright img{
    height: 40px;
    width: 115px;
    color: #000000;
    vertical-align: middle;
}

.footer-copyright svg{
    width: 80px;
    height: 40px;
    vertical-align: middle;
}


/*-----------------------------Inner Page Styles-------------------------------------*/

/*-----------------------------Filters---------------------------*/
/*-----------как быть с иконками чекбокса? именно svg картиинки чекбоксов не открываются*/

form.filter{
    display: flex;
}

fieldset{
    border: none;
}

.filter-option{
    width: 240px;
    list-style: none;
}

.filter-option li::after{
    content: " ";
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.filter-fieldset{
    margin-top: 30px;
    width: 240px;
    margin-left: 72px;
    float :left;
    font-size: 16px;
    color: #ffffff;
}

.filter-fieldset ul{
    padding: 0;
}

.filter-fieldset:nth-child(2){
    margin-left: 15px;
}

.filter-option-cost{
    margin-top: 30px;
    width: 315px;
    float: right;
    margin-right: 72px;
    font-size: 16px;
    color: #ffffff;
}

.filter-option-cost table{
    border: 1px solid #ffffff;
    margin-top: 10px;
}

.filter-option-cost td{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    border-right: 2px solid #ffffff;
    width: 160px;
    text-align: center;
}

.filter-option-cost td:nth-child(2){
    border-right: none;
}

.filter-option-cost button{
    margin-top: 20px;
    display: inline-block;
    position: relative;
    left: 90px;
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    border-radius: 2px;
    width: 133px;
    height: 31px;
    border: 1px solid #ffffff;
    background: none;
}

/*как сделать два ползунка и как вообще их стилизовать?*/
.filter-option-cost input{
    width: 320px;
    margin-top: 5px;
}

/*-----------------------------------SORTING-Menu---------------------------*/
.sorting-menu{
    background-color: #ffffff;
    min-width: 1055px;
}

.sorting-menu-options{
    font-size: 12px;
    line-height: 18px;
    list-style: none;
}

.sorting-menu-fieldset p{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.sorting-menu-options li,p{
    display: inline-block;
}

.sorting-menu-options a{
    opacity: 0.3;
    text-decoration: underline dotted;
}

.sorting-menu-options a:focus{
    color: #81b3d2;
    opacity: 1;
    text-decoration: none;
}

.sorting-menu-options a:hover{
    color: #81b3d2;
    opacity: 1;
}

.sorting-menu-options a:active{
    color: #000000;
    opacity: 1;
}

/*------------------------------------CONTENT---------------------------------*/

/*ОТКУДА У  UL MARGIN-BOTTOM 14px????????
я переопределил margin-bottom на 0px, и li повел себя как то странно,
как будто один вложен в другой.
*/
.content{
    background-color: #ffffff;
}

.catalog-list{
    list-style: none;
    border-top: 1px solid #e5e5e5;
    height: 152px;
    margin-top: 0px;
    padding-left: 70px;
}

.catalog-list:last-child{
    list-style: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.catalog-list:last-of-type{
    margin-bottom: 0;
}

.catalog-item li{
    height: 150px;
}

.catalog-item p{
    display: inline-block;
    margin: 0;
}

.catalog-item a{
    color: #000000;
}

div.catalog-item-content{
    height: 82px;
    display: inline-block;
    margin-top: 28px;
    padding: 0;
}

.catalog-item-content h2{
    margin: 0;
}

div.catalog-category{
    margin: 10px 0;
    color: #333333;
}

.catalog-item-title{
    display:inline-block;
    margin:0px 0px;
}

.catalog-item p:first-of-type{
    float:left;
    margin: 30px 30px 30px 0;
}

a.button{
    padding:  3px 15px;
    display:  inline-block;
    text-align: center;
    color:  #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background-color: #81b3d2;
}

a.button-more{
    background-color: #766357;
}

/*------------------------------------FLEX Разметка------------------------------*/

html,
body{
    min-width:768px;
}

.main-header{
    max-width: 1200px;
    min-height: 760px;
    margin:0 auto;
    background-image: url("../img/background.jpg");
    background-repeat:  no-repeat;
    background-position: center;
}

.container{
    min-width: 768px;
    max-width: 1200px;
    min-height: 56px;
    margin: 0 auto;
}

.main-header-logo {
    width: 140px;
    height: 70px;
    position: absolute;
}
/*---------------------------------navigation-------------------------------*/
.main-navigation{
    background-color: transparent;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.site-navigation{
    margin: 0 70px 0 70px;
    padding:0;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;
}

.site-navigation a{
    display: block;
    text-align: center;
    padding: 15px 0 15px 0;
}

/*-----------------------------------Background SEDONA----------------------*/
.sedona-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sedona-preview-tagline{
    margin-top: 76px;
}

.sedona-preview-shapes{
    min-height: 215px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sedona-preview-shapes h2{
    margin-top: 65px;
    display: inline-block;
    width: 450px;
    text-align: center;
}

.sedona-preview-shapes p{
    margin-top: 21px;
}

/*---------------------------------FEATURES---------------------------------------*/

.features{
    display:flex;
    flex-direction: column;
}

.features-list{
    width: 1200px;
    min-height: 330px;
    display: flex;
    padding: 0;
    margin: 0;
    color: #ffffff;
    list-style: none;
}

.features-item h2{
    margin: 0;
}

.features-list-img h2{
    margin: 30px 0 30px 0;
}

.features-list-photo{
    width: 1200px;
    min-height: 255px;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.features-list-photo li > h2,
.features-list-photo li > p{
    color: #ffffff;
}

.features-item{
    width: 400px;
    min-height: 255px;
    background-color: #81b3d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-item p{
    width: 280px;
}

.features-item-flag{
    background-image: url("../img/real-city.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    min-width: 800px;
}

.features-item-devil{
    background-image: url("../img/devil-bridge.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    min-width: 800px;
}

.features-refind{
    min-height: 330px;
}

.features-refind ul > li{
    background-color: #ffffff;
}

.features-list-last{
      width: 1200px;
      min-height: 255px;
      display: flex;
      padding: 0;
      margin: 0;
      color: #ffffff;
}

.features-list-last li{
    background-color: #eeeeee;
}

/*------------------------------------------MAP-----------------------------------*/

.hotels-map{
    min-width: 1200px;
    min-height: 885px;
    display: flex;
    flex-direction: column;
}

.white-back{
    min-height: 290px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.white-back h2{
    font-size: 30px;
}

.map{
    min-height: 595px;
    max-width: 1200px;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-back p{
    margin: 0;
    font-weight: normal;
}
/*-----------------------------------Appointment---------------------------*/

.appointment-form{
    width: 460px;
    height: 285px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.appointment-item{
    color: #000000;
    width: 460px;
    height: 45px;
    display: flex;
    margin: 0;
    align-items: center;
}

.appointment-button{
    margin-top: 50px;
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
}

.appointment-item label{
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
}

.appointment-item input{
    min-width: 345px;
    height: 40px;
    /*------------------------Как сделать картинки блеклыми?-------------*/
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: 98% 50%;
  }

.appointment-item-people{
    display: flex;
    align-items: center;
    margin: 0;
    height: 40px;
}

.appointment-item-people input{
    width: 115px;
    height: 40px;
    margin-left: 40px;
}

.appointment button{
    font-size: 21px;
    width: 460px;
    height: 60px;
    text-transform: uppercase;
    font-weight: normal;
}
/*---------------------------------------footer------------------------------*/

.main-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tag{
    font-weight: bold;
    font-size: 21px;
    color: #000000;
}

.social-button{
    width: 45px;
    height: 50px;
}

.footer-social{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.footer-social li{
    background-color: #81b3d2;
    /*background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;*/
    width: 45px;
    height: 50px;
    margin-left: 5px;
}

.footer-social a{
    display: flex;
    justify-content: center;
}

/*-------------------------------------------FLEX INNER PAGE-----------------------------------*/

.filters{
    max-width: 1200px;
    min-height: 215px;
    margin: 0 auto;
    /*---------------------------------Как размыть фон?------------------*/
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.catalog{
    display: flex;
    flex-direction: column;
}

.sorting-menu{
    display: flex;
    justify-content: center;
    color: #000000;
}

.sorting-menu-form{
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    margin-left: 70px;
    align-items: center;
}

.sorting-btn:first-of-type{
    margin-left: 500px;
}
