body{
    font-size: 10px;
    line-height: 10px;
    color: 8c8c8c;
    font-weight: normal;
}

visually-hidden h1{
    line-height: 74px;
    font-size: 74px;
    color: ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.features h2{
    font-size: 10px;
    line-height: 10px;
    color: ffffff;
    font-weight: bold;
    text-transform: uppercase;
}