body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    color: #8c8c8c;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f1f1f1;
    font-family: "PT Sans", sans-serif;
}

a{
    text-decoration: none;
}

h2{
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.visually-hidden{
    line-height: 74px;
    font-size: 74px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
}
/*------------------------------NAVIGATION------------------------------*/
.main-navigation{
    background-color: #ffffff;
    color: #000000;
}

.site-navigation{
    text-decoration: none;
    list-style: none;
}

.site-navigation a{
    text-decoration: none;
    color: #000000;
    line-height: 26px;
}

.site-navigation a:hover{
    color: #81b3d2;
}

.site-navigation a:active{
    color: #000000;
    opacity: 0.3;
}

.menu-item-active > a{
    color: #766357;
}

/*----------------------------------FEATURES---------------------------------------*/

.features-list{
    list-style: none;
}

.features-item{
    text-align: center;
}

.features-item p{
    font-weight: normal;
    color: #333333;
}

.features-item a{
    font-weight: bold;
    color: #000000;
}

.features-item-blue li{
    background-color: #81b3d2;
}

.features-item-grey li{
    background-color: #eeeeee;
}

button{
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background-color: #81b3d2;
}

input{
    outline: none;
}

/*----------------------------------------Hotels  MAP-----------------------------------------*/
.appointment-button a,
.search-button{
    display: block;
    text-align: center;
    padding: 30px 0;
    width: 570px;
    color: #ffffff;
    background-color: #766357;
    border: 0;
}

.appointment-button a:hover{
    background-color: #604e43;
}

.appointment-button a:active{
    background-color: #503e33;
    color: #928a85;
}

.appointment{
    min-width: 570px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appointment-form input{
    border: 2px solid transparent;
}

.people-switch-number{
    border: none;
}

.appointment-form input:hover{
    background-color: #ebebeb;
}

.appointment-form input:active{
    background-color: #ebebeb;
}

.appointment-form input:focus{
    background-color: #ffffff;
}

/*----------------------------------------FOOTER-------------------------------------------------*/

.main-footer-flex{
    background-color: rgba(254,254,254, 0.9);
}

.footer-social{
    text-align: center;
}

.footer-social ul{
    list-style: none;
}

.footer-social a{
    color: #000000;
}

/*-----------------------------Inner Page Styles-------------------------------------*/

/*-----------------------------Filters---------------------------*/

form.filter{
    display: flex;
}

fieldset{
    border: none;
}

.filter-option{
    list-style: none;
}

/*-----------------------------------SORTING-Menu---------------------------*/
.sorting-menu{
    background-color: #ffffff;
    min-width: 1055px;
}

.sorting-menu-options{
    font-size: 12px;
    line-height: 18px;
    list-style: none;
}

.sorting-menu-fieldset p{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.sorting-menu-options li,p{
    display: inline-block;
}

.sorting-menu-options a{
    color: rgba(0,0,0,0.3);

    text-decoration: underline dotted #81b3d2;
}

.sorting-menu-options a:focus{
    color: #81b3d2;
    opacity: 1;
    text-decoration: none;
}

.sorting-menu-options a:hover{
    color: #81b3d2;
    opacity: 1;
}

.sorting-menu-options a:active{
    color: #000000;
    opacity: 1;
}

/*------------------------------------CONTENT---------------------------------*/

.content{
    background-color: #ffffff;
    padding-bottom: 122px;
}

a.button{
    padding:  3px 15px;
    display:  inline-block;
    text-align: center;
    color:  #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background-color: #81b3d2;
}

a.button:hover{
    background-color: #669ec0;
}

a.button:active{
    background-color: #5496bd;
    color: #94b9d2;
}

a.button-more{
    background-color: #766357;
}

a.button-more:hover{
    background-color: #766357;
}

a.button-more:active{
    background-color: #503e33;
    color: #94b9d2;
}

/*------------------------------------FLEX Разметка------------------------------*/

html,
body{
    min-width:768px;
}

.main-header{
    margin:0 auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

.container{
    position: relative;
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

.logo {
    width: 140px;
    min-height: 70px;
    position: absolute;

}

/*---------------------------------navigation-------------------------------*/
.main-navigation{
    background-color: transparent;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    max-width: 1200px;
    margin:0 auto;
}

.site-navigation{
    margin: 0;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: transparent;
    max-width: 1200px;
}

.menu-item{
    width: 20%;
    padding: 15px 0;
}

.menu-item-right{
    text-align: right;
}

.menu-item-active{

}

/*-----------------------------------Background SEDONA----------------------*/
.sedona-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../img/background.jpg");
    background-position-y: -56px;
    background-repeat: no-repeat;
}

.sedona-preview > img{
  margin-top: 15px;
}

.sedona-preview-tagline{
    margin: 76px 0 15px 0;
}

.sedona-preview-shapes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sedona-preview-shapes:before{
    content:" ";
    display: block;
    height: 57px;
    width: 100%;
    background-image: url("../img/shape.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.sedona-preview-text{
    width: 100%;
    flex-grow: 1;
    display: flex;
    padding: 45px 0 35px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.sedona-preview-shapes h2{
    display: inline-block;
    width: 450px;
    text-align: center;
}

/*---------------------------------FEATURES---------------------------------------*/

.features{
    display:flex;
    flex-direction: column;
}

.features-list{
    width: 1200px;
    min-height: 330px;
    display: flex;
    padding: 0;
    margin: 0;
    color: #ffffff;
    list-style: none;
}

.features-list-img{
    width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-list-img h2{
    margin: 30px 0 20px 0;
}

.features-list-img p{
    margin: 0;
    margin-bottom: 20px;
}

.features-list-photo{
    width: 100%;
    min-height: 255px;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.features-item-text h2,
.features-item-text p{
    color: #ffffff;
    line-height: 21px;
    margin: 0;
}

.features-item{
    width: 400px;
    min-height: 255px;
    background-color: #81b3d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-item img{
    padding-top: 30px;
}

.features-item-text{
    width: 260px;
    min-height: 170px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.features-list-last .features-item-text h2,
.features-list-last .features-item-text p{
    color: #000000;
}

.features-item-flag{
    background-image: url("../img/real-city.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-width: 800px;
}

.features-item-devil{
    background-image: url("../img/devil-bridge.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-width: 800px;
}

.features-refind{
    min-height: 330px;
}

.features-refind ul > li{
    background-color: #ffffff;
}

.features-list-last{
      width: 1200px;
      min-height: 255px;
      display: flex;
      padding: 0;
      margin: 0;
      color: #ffffff;
}

.features-list-last li{
    background-color: #eeeeee;
}

/*------------------------------------------MAP-----------------------------------*/

.white-back{
    min-height: 290px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.white-back h2{
    font-size: 30px;
}

.map{
    min-height: 595px;
    max-width: 1200px;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.white-back p{
    margin: 0;
    font-weight: normal;
}
/*-----------------------------------Appointment---------------------------*/

.appointment-form{
    width: 460px;
    background-color: #ffffff;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin: 30px 0 0 0;
}

.appointment-item{
    color: #000000;
    width: 460px;
    height: 38px;
    display: flex;
    margin: 0;
    align-items: center;
    position: relative;
    margin: 15px 0 15px 0;
}

.appointment-button{
    margin-top: 50px;
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
}

.appointment-item label{
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
}

.appointment-item input{
    min-width: 342px;
    height: 34px;
    padding: 0;

    background-color: #f2f2f2;
    border-color: #f2f2f2;
  }

.appointment-item input::placeholder{
    font-weight: bold;
    padding-left: 12px;
    color: #000000;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}

input:focus:-moz-placeholder {
    color:transparent;
  } /* FF 4-18 */

input:focus::-moz-placeholder {
    color:transparent;
  } /* FF 19+ */

input:focus:-ms-input-placeholder {
    color:transparent;
  } /* IE 10+ */

.calendar-button{
    position: absolute;
    right: 10px;
    top: 8px;
    fill: #a9a9a9;
}

.calendar-button:hover{
    fill: #000000;
}

.calendar-button:active{
    fill: #81b3d2;
}

.appointment-item-people{
    display: flex;
    align-items: center;
    margin: 0;
    height: 38px;
    color: #000000;
    margin: 15px 0 15px 0;
}

.people-switch{
    width: 114px;
    white-space: nowrap;
    background: #f2f2f2;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}

.prev,
.next{
    color: #a9a9a9;
    font-size: 20px;
    font-weight: bolder;
    width: 41px;
    height: 38px;
}

.prev:hover,
.next:hover{
    color: #000000;
}

.prev:active,
.next:active{
    color: #81b3d2;
    font-size: 20px;
    font-weight: bolder;
}

input.people-switch-number{
    width: 20%;
    border: none;
}

.people-switch-number::placeholder{
    color: #000000;
}

.prev,
.next,
.people-switch-number{
    display: inline-block;
    min-width: 20px;
    height: 38px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    flex-grow: 1;
}

.appointment-button-find{
    font-size: 21px;
    width: 460px;
    height: 60px;
    text-transform: uppercase;
    font-weight: normal;

    margin: 30px 0 55px 0;
    padding: 0;
}

.appointment-button-find:hover{
    background-color: #669ec0;
}

.appointment-button-find:active{
    background-color: #5496bd;
}

/*---------------------------------------footer------------------------------*/

.main-footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
}

.main-footer-flex{
    margin: 0 auto;
    padding: 0 6%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-footer-flex > div{
    padding: 35px 0 35px 0;
    width: 250px;

    display: flex;
    justify-content: center;
}

.tag{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    margin: 0;
}

.social-button{
    width: 46px;
    height: 48px;
    background-color: #81b3d2;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-button:active svg > path {
    fill: #88b6d1;
}

.social-button:hover{
    background-color: #669ec0;
}

.social-button:active{
    background-color: #5496bd;
}

.footer-social{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.footer-social li{
    width: 45px;
    height: 50px;
    margin-left: 5px;
}

.footer-social a{
    display: flex;
    justify-content: center;
}

.footer-copyright{
    width: 200px;
    height: 40px;

    display: flex;
    align-items: center;
}

.footer-copyright-link{
    transform: translateY(-5px);
    color: #000000;
}

.footer-copyright > a > svg{
    width: 110px;
    height: 40px;
    margin-left: 10px;
}

/*-------------------------------------------FLEX INNER PAGE-----------------------------------*/

.filters{
    max-width: 1200px;
    min-height: 215px;
    margin: 0 auto;

    background-image: url("../img/catalog-background.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.filter{
    padding-top: 57px;
    margin: 0 70px 0 70px;

    display: flex;
    justify-content: space-between;
}

.filter-list{
    display: flex;

    padding: 25px 0 0 0;
}

.filter-fieldset{
    font-size: 16px;
    color: #ffffff;
    padding: 0;
    margin: 0;
    margin-right: 110px;
    display: flex;
    flex-direction: column;
}

.filter-fieldset legend{
    margin-bottom: 15px;
}

.filter-fieldset ul{
    padding: 0;
}

.filter-option label{
    display: block;
    font-weight: normal;
}

.filter-option input[type="checkbox"]{
    display: none;
}

.filter-option input[type="checkbox"] + label:before{
    content: "";
    display: inline-block;
    width: 28px;
    height: 24px;
    margin-right: 13px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    transform: translateY(5px);
}

.filter-option input[type=checkbox]:checked + label:before{
    content: "";
    display: inline-block;
    width: 28px;
    height: 24px;
    margin-right: 13px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.filter-option input[type=checkbox]:checked:disabled + label:before{
    content: "";
    display: inline-block;
    width: 28px;
    height: 24px;
    margin-right: 13px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
}

.filter-option input[type=checkbox]:disabled + label:before{
    content: "";
    display: inline-block;
    width: 28px;
    height: 24px;
    margin-right: 13px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
}
/*---------------------------------------------SORTING MENU---------------------*/

.sorting-menu{
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    color: #000000;
}

.sorting-menu-form{
    padding: 34px 70px 34px 70px;
    margin: 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sorting-menu-form p{
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-weight: bold;
}

.sorting-menu-fieldset{
    padding: 0;
    margin: 0;
    width: 600px;
    margin-left: 45px;
}

.sorting-menu-options{
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-around;
}

.sorting-menu-options b{
    font-weight: normal;
}

.sorting-buttons{
    width: 35px;
    position: absolute;
    right: 70px;

    display: flex;
    justify-content: space-between;
}

.sorting-button-link-up svg > path,
.sorting-button-link-down svg > path{
    fill: #cacaca;
}

.sorting-button-link-up svg > path:hover,
.sorting-button-link-down svg > path:hover{
    fill: #000000;
}

.sorting-button-link-up svg > path:active,
.sorting-button-link-down svg > path:active{
    fill: #81b3d2;
}

.sorting-button-active svg > path{
    fill: #81b3d2;
}
/*---------------------------------------------CATALOG----------------------*/

.catalog{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.catalog-list{
    list-style: none;

    padding: 30px 70px 30px 70px;
    margin: 0;
    border-top: solid 1px #e5e5e5;

    background-color: #ffffff;

    display: flex;
  }

.catalog-list:last-child{
    border-bottom:  solid 1px #e5e5e5;
}

.catalog-list-item{
    margin-left: 30px;
    max-width: 780px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-list-item > p{
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.catalog-list-item > a{
    margin:0px;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.catalog-list-item > a:hover{
    color: #81b3d2;
}

.catalog-list-item > a:active{
    color: #e5e5e5;
}

.hotels-rating{
    position: absolute;
    right: 72px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rating-stars{
    display: flex;
}

.rating-stars img{
    margin-left: 5px;
}

.hotels-rating-quantity{
    width: 110px;
    height: 30px;
    margin-top: 45px;

    background-color: #f2f2f2;
    color: 666666;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------FILTER RANGE-----------------------------*/
.filter-range {
    width: 330px;
    margin: 30px 0; /* для демо */

    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
    border: 9px solid #ffffff;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}
